{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "env": {
    "es6": true,
    "jest": true
  },
  "plugins": [
    "babel", "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "legacyDecorators": true
    },
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "rules": {
    "operator-linebreak": [0],
    "implicit-arrow-linebreak": [0],
    "no-else-return": [0],
    "no-multi-spaces": [0],
    "react/jsx-one-expression-per-line": ["off", "never"],
    "react/no-access-state-in-setstate": ["off", "never"],
    "react/jsx-closing-tag-location": ["off", "never"],
    "react/jsx-wrap-multilines": ["off", "never"],
    "react/destructuring-assignment": ["off", "never"],
    "import/extensions": ["off", "never"],
    "import/no-extraneous-dependencies": ["off", "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-unresolved": 0,
    "quotes": [0],
    "jsx-a11y/href-no-hash": "off",
    "react/prefer-stateless-function": [0],
    "react/no-array-index-key": [0],
    "comma-dangle": [0],
    "react/prop-types": [0],
    "arrow-body-style": [0],
    "no-useless-constructor": [0],
    "no-shadow": [0],
    "no-unneeded-ternary": [0],
    "arrow-parens": [0],
    "one-var": [0],
    "no-nested-ternary": [0],
    "react/sort-comp": [0],
    "no-underscore-dangle": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "jsx-a11y/anchor-is-valid": [0],
    "jsx-a11y/click-events-have-key-events": [0],
    "camelcase": [0],
    "jsx-a11y/no-noninteractive-element-interactions": [0],
    "react/no-string-refs": [0],
    "no-use-before-define": [0],
    "consistent-return": [0],
    "linebreak-style": [0],
    "jsx-a11y/alt-text": [0],
    "jsx-a11y/label-has-for": [0],
    "no-unused-expressions": [0],
    "default-case": [0],
    "function-paren-newline": [0],
    "react/react-in-jsx-scope": [0],
    "object-curly-newline": [0],
    "no-mixed-operators": [0],
    "no-plusplus": [0],
    "no-return-await": [0],
    "array-callback-return": [0],
    "indent": [0],
    "import/prefer-default-export": [0],
    "react/jsx-indent": [0],
    "yoda": [0],
    "class-methods-use-this": [0],
    "no-confusing-arrow": [0],
    "guard-for-in": [0],
    "jsx-a11y/mouse-events-have-key-events": [0],
    "no-param-reassign": [0],
    "max-len": [0],
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }]
  }
}
